In [90]:
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
from openpyxl import load_workbook

In [102]:
database = MySQLdb.connect (host="localhost" , user="MSG" , passwd="MSG19900" ,db="hwcoredata")
cursor = database.cursor()

In [103]:
hubenergy_table = ("CREATE TABLE IF NOT EXISTS hubenergy(date_month date NOT NULL, hub varchar(50) ,hub_id varchar(10),Production decimal(5,2) NOT NULL,Consumption decimal(5,2) NOT NULL )")

In [104]:
cursor.execute(hubenergy_table)

0

In [94]:
#read excel_sheet

In [105]:
wb = load_workbook(filename = 'hub_energy_data.xlsx')
#ws = wb[wb.sheetnames[0]] # Select the first sheet
ws = wb['Sheet1']# or use the sheetname directly

In [106]:
column_heading = [ws.cell(row=1,column=x).value for x in  range(1,columns+1)]#get column headings
column_heading

['Date', 'Hub', 'Hub_ID', 'Production(kWh)', 'Consumption(kWh)']

In [107]:
rows = ws.max_row # Get the maximum number of rows in the table
rows

6

In [108]:
columns = ws.max_column   # Get the maximum number of columns in the table
columns

5

In [112]:
for row in range(data_start_line, rows + 1):
    print ('###############')
    print ('row '+ str(row) + ' inserted')
    print ('###############')
    
    date_month= ws.cell(row=row, column=1).value    #month_date
    hub = ws.cell(row=row, column=2).value    #hub
    hub_id = ws.cell(row=row, column=3).value    #hub_id
    production = ws.cell(row=row, column=4).value    #production
    consumption = ws.cell(row=row, column=5).value    #consumption
    
    query = """insert into hubenergy (date_month, hub,hub_id ,Production , Consumption) values ("%s","%s","%s","%s","%s")"""%( date_month, hub,hub_id ,production , consumption)

    #print query
    
    cursor.execute(query)
    database.commit()

###############
row 2 inserted
###############
###############
row 3 inserted
###############
###############
row 4 inserted
###############
###############
row 5 inserted
###############
###############
row 6 inserted
###############