In [26]:
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
from openpyxl import load_workbook

In [27]:
database = MySQLdb.connect (host="localhost" , user="MSG" , passwd="MSG19900" ,db="hwcoredata")
cursor = database.cursor()

In [28]:
hubenergy_table = ("CREATE TABLE IF NOT EXISTS hubenergy(id varchar(10),Production decimal(5,2) NOT NULL,Consumption decimal(5,2) NOT NULL, date_month date NOT NULL)")

In [29]:
cursor.execute(product_details_table)

0

In [30]:
#read excel_sheet

In [61]:
wb = load_workbook(filename = 'hub_energy_data.xlsx')
#ws = wb[wb.sheetnames[0]] # Select the first sheet
ws = wb['Sheet1']# or use the sheetname directly

In [62]:
column_heading = [ws.cell(row=1,column=x).value for x in  range(1,columns+1)]#get column headings
column_heading

['Date', 'Hub', 'Hub_ID', 'Production(kWh)', 'Consumption(kWh)']

In [63]:
rows = ws.max_row # Get the maximum number of rows in the table
rows

6

In [64]:
columns = ws.max_column   # Get the maximum number of columns in the table
columns

5

In [83]:
data = []  #capture data to send to mysql
data_start_line = 2 # ignore headings
for row in range(data_start_line, rows + 1):
    for column in range(1, columns + 1):  
         data.append((ws.cell(row=row, column=column).value)) 
print(data)


####delete this

[datetime.datetime(2022, 1, 31, 0, 0), 'Best Future Center', 'UGNKV009', 60.01, 46.56, datetime.datetime(2021, 12, 30, 0, 0), 'Rubondo youth center', 'UGNKV012', 60.01, 46.56, datetime.datetime(2022, 1, 15, 0, 0), 'Rubondo youth center', 'UGNKV012', 60.01, 46.56, datetime.datetime(2022, 1, 13, 0, 0), 'Harugongo Primary School', 'UGFPT007', 60.01, 46.56, datetime.datetime(2022, 1, 14, 0, 0), 'Kashojwa Fishing Village', 'UGNKV013', 60.01, 46.56]
Best Future Center
Rubondo youth center
Rubondo youth center
Harugongo Primary School
Kashojwa Fishing Village

In [84]:
for row in range(data_start_line, rows + 1):
    print ('###############')
    print 'row '+ repr(each) + ' inserted'
    print ('###############')
    
    month_date = ws.cell(row=row, column=1).value    #month_date
    hub = ws.cell(row=row, column=2).value    #hub
    print (hub)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('###############')? (<ipython-input-84-782a50cfbf23>, line 2)

In [8]:
insert_query = "INSERT INTO product_details (product_id,product_name,product_price,product_rating,product_star_rating,product_url) VALUES (%s,%s,%s,%s,%s,%s)"

In [9]:
for sh in range(0,len(sheet_ranges)):
    sheet= excel_sheet.sheet_by_index(sh)
    
    for r in range(1,sheet.nrows):
        product_id = sheet.cell(r,0).value

        product_name = sheet.cell(r,1).value

        product_price = sheet.cell(r,2).value
     
        product_rating = sheet.cell(r,3).value
      
        product_star_rating = sheet.cell(r,4).value
        
        product_url = sheet.cell(r,5).value
        
        product_details_value = (product_id,product_name,product_price,product_rating,product_star_rating,product_url)
        
        
        cursor.execute(insert_query,product_details_value)
        database.commit()